.wrapper {
  margin: 0 10px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 20%);
  .photo-frame {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 19%;
    margin: 5px;
    padding: 10px 10px 0; // padding-bottom: 0px;
    border-radius: 6px;
    border: 1px solid #e4ecf3;
    box-shadow: 1px 2px 3px #f2f6f8;
    background: #fff;
    transition: all .3s;
    .photo-box {
      height: 243px;
      img {
        width: 100%;
        height: 243px;
      }
    }
    .photo-title {
      height: 45px;
      // padding: 12px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      font-weight: 500;
    }
  }
}

@media (max-width: 575px) {
  .wrapper {
    grid-template-columns: repeat(auto-fill, 100%);
  }
}
@media (min-width: 576px) {
  .wrapper {
    grid-template-columns: repeat(auto-fill, 90%);
  }
}
@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(auto-fill, 50%);
  }
}
@media (min-width: 992px) {
  .wrapper {
    grid-template-columns: repeat(auto-fill, 32%);
  }
}
@media (min-width: 1200px) {
  .wrapper {
    grid-template-columns: repeat(auto-fill, 25%);
  }
}
@media (min-width: 1400px) {
  .wrapper {
    grid-template-columns: repeat(auto-fill, 20%);
  }
}
